#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem;
  text-align: center; */
}

.navbar {
  height: 90px; /* Adjust this value to your preferred height */
  border: 1px solid black;
  /* background-size: 40%; */
}

.login-btn {
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 8px 24px;
}

.login-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
